*{
  margin: 0;
  padding: 0 ;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

.main-container{
  position: relative;
  margin-left: 250px;
}

header{
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background: #fff;
}